In [6]:
import numpy 
arr=numpy.array([5,8,2])
print(type(arr), "\n")
print(arr.shape, "\n")
print(arr[0], arr[1], arr[2])
#numpy stands for numerical python. deals with matrices and linear algebra

<class 'numpy.ndarray'>

(3,)

5 8 2

In [7]:
matrix=numpy.array([[5,7,2], [9,2,6]])
print(type(matrix), "\n")
print(matrix.shape, "\n")
print(matrix[0,1], matrix[1,2])

<class 'numpy.ndarray'>

(2, 3)

7 6

In [8]:
onesArr=numpy.ones((1,2))
zerosArr=numpy.zeros((2,3))
unitMatrix=numpy.eye(2) #the identity matrix always square
constantMatrix=numpy.full((3,2), 7)
randomMatrix=numpy.random.random((2,3))
print("ones array: ", onesArr, "\n")
print("zeros array: ", zerosArr, "\n")
print("unit matrix: ", unitMatrix, "\n")
print("constant matrix: ", constantMatrix, "\n")
print("random matrix: ", randomMatrix) #matrix with random values from 0 to 1

ones array:  [[1. 1.]]

zeros array:  [[0. 0. 0.]
 [0. 0. 0.]]

unit matrix:  [[1. 0.]
 [0. 1.]]

constant matrix:  [[7 7]
 [7 7]
 [7 7]]

random matrix:  [[0.96654109 0.7236158  0.88217343]
 [0.93867394 0.07140453 0.4360663 ]]

In [9]:
#indexing and slicing
matrix=numpy.array([[2,6,3], [8,3,5], [9,3,6]])
slice=matrix[0:2, 1:3]
slice[0,1]=77
print(matrix[0,2])

77

In [ ]:
# %pip install pandas
#pandas library stands for panel data. deals with series and data frames
import pandas as pd
s=pd.Series([4,7,2], index=['a', 'b', 'c']) #here we custom indexes of series, but the default indexes are 0,1,2,...
s
#pandas series is like a column

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\elmanahry\appdata\roaming\python\python312\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elmanahry\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elmanahry\appdata\roaming\python\python312\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\elmanahry\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 762.0 kB/s eta 0:00:14
   -- ------------------------------------- 0.8/11.0 MB 1.1 MB/s eta 0:00:10
   -- ------------------------------------- 0.8/11.0 MB 1.1 MB/s eta 0:00:10
   ---- ----------------------------------- 1.3/11.0 MB 1.2 MB/s eta 0:00:09
   ----- ---------------------------------- 1.6/11.0 MB 1.1 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.0 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.1/11.0 MB 1.2 MB/s eta 0:00:08
   -------- ------------------------------- 2.4/11.0 MB 1.2 MB/s eta 0:00:08
   --------- ------------------------------ 2.6/11.0 MB 1.2 MB/s eta 0:00:08
   ---------- ----------------------------- 2.9/11.0 MB 1.2 MB/s eta 0:00:07
   ----------- ---------------------------- 3.1/11.0 MB 1.2 MB/s eta 0:00:07
   ------------ --------------------------- 3.4/11.0 MB 1.2 MB/s eta 0:00:07
   ------------- -------------------------- 3.7/11.0 MB 1.2 MB/s eta 0:00:07
   ------------- -------------------------- 3.7/11.0 MB 1.2 MB/s eta 0:00:07
   -------------- ------------------------- 3.9/11.0 MB 1.2 MB/s eta 0:00:07
   --------------- ------------------------ 4.2/11.0 MB 1.2 MB/s eta 0:00:06
   ---------------- ----------------------- 4.5/11.0 MB 1.2 MB/s eta 0:00:06
   ----------------- ---------------------- 4.7/11.0 MB 1.2 MB/s eta 0:00:06
   ------------------ --------------------- 5.0/11.0 MB 1.2 MB/s eta 0:00:06
   ------------------- -------------------- 5.2/11.0 MB 1.2 MB/s eta 0:00:05
   -------------------- ------------------- 5.5/11.0 MB 1.2 MB/s eta 0:00:05
   -------------------- ------------------- 5.8/11.0 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.0/11.0 MB 1.2 MB/s eta 0:00:05
   ---------------------- ----------------- 6.3/11.0 MB 1.2 MB/s eta 0:00:04
   ----------------------- ---------------- 6.6/11.0 MB 1.2 MB/s eta 0:00:04
   ------------------------ --------------- 6.8/11.0 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.1/11.0 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.3/11.0 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.3/11.0 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.3/11.0 MB 1.2 MB/s eta 0:00:04
   ---------------------------- ----------- 7.9/11.0 MB 1.1 MB/s eta 0:00:03
   ----------------------------- ---------- 8.1/11.0 MB 1.1 MB/s eta 0:00:03
   ----------------------------- ---------- 8.1/11.0 MB 1.1 MB/s eta 0:00:03
   ------------------------------ --------- 8.4/11.0 MB 1.1 MB/s eta 0:00:03
   ------------------------------- -------- 8.7/11.0 MB 1.1 MB/s eta 0:00:03
   -------------------------------- ------- 8.9/11.0 MB 1.1 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/11.0 MB 1.1 MB/s eta 0:00:02
   ---------------------------------- ----- 9.4/11.0 MB 1.1 MB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 1.1 MB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 1.1 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, pandas
Successfully installed pandas-2.3.3 pytz-2025.2
Note: you may need to restart the kernel to use updated packages.

a    4
b    7
c    2
dtype: int64

In [11]:
dict={"name":"semon", "age":20}
print(pd.Series(dict))
#dtype with value object represent the string

name    semon
age        20
dtype: object

In [12]:
data=[["semon", "Egypt", "Qena"], ["john", "british", "london"], ["aya", "suadi", "dubai"]]
"""we can use instead an object with keys:name, country and city, where the values types are lists
  or a list of object each object represent a row and has the keys:name, country and city"""
dataFrame=pd.DataFrame(data, columns=["name", "country", "city"])     
print(dataFrame)
#pandas data frame is like a table

    name  country    city
0  semon    Egypt    Qena
1   john  british  london
2    aya    suadi   dubai

In [13]:
print(dataFrame["name"], "\n")
print(dataFrame[["country", "city"]], "\n")
#iloc used with default indexed elements
print(dataFrame.iloc[1], "\n") #return the second row
print(dataFrame.iloc[1, 0], "\n") #return the element in the second row and first column
dataFrame.index=[1,2,3] #custom rows indices
print(dataFrame.loc[2], "\n") #return the second custom indexed row
print(dataFrame[dataFrame["name"] =="semon"], "\n") #dataFrame[condition related to a column]

0    semon
1     john
2      aya
Name: name, dtype: object

   country    city
0    Egypt    Qena
1  british  london
2    suadi   dubai

name          john
country    british
city        london
Name: 1, dtype: object

john

name          john
country    british
city        london
Name: 2, dtype: object

    name country  city
1  semon   Egypt  Qena

In [14]:
print(dataFrame.head(1), "\n") #by default without any parameters it returns the first 5 rows
print(dataFrame.tail(2), "\n") #by default without any parameters it returns the last 5 rows
print(dataFrame.shape, "\n")
print(dataFrame.info(), "\n")
print(dataFrame.describe(), "\n")

    name country  city
1  semon   Egypt  Qena

   name  country    city
2  john  british  london
3   aya    suadi   dubai

(3, 3)

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 1 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3 non-null      object
 1   country  3 non-null      object
 2   city     3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes
None

         name country  city
count       3       3     3
unique      3       3     3
top     semon   Egypt  Qena
freq        1       1     1

In [19]:
print(dataFrame.duplicated(subset="name"), "\n")
dataFrame.drop_duplicates(subset=["name"])

KeyError: Index(['name'], dtype='object')

In [16]:
dataFrame["age"]=[20, 17, 24]
dataFrame

    name  country    city  age
1  semon    Egypt    Qena   20
2   john  british  london   17
3    aya    suadi   dubai   24

In [17]:
dataFrame=dataFrame.drop("age", axis=1) #return the data frame without the dropped column, but doesn't affect it in-place
dataFrame
# axis with value 0 affect the row, while with value 1 affect the column

    name  country    city
1  semon    Egypt    Qena
2   john  british  london
3    aya    suadi   dubai

In [18]:
dataFrame=dataFrame.rename(columns={"name":"student_name"})
dataFrame

  student_name  country    city
1        semon    Egypt    Qena
2         john  british  london
3          aya    suadi   dubai