In [49]:
#Lists
list=[4,8,2,6]
print(type(list))
print("list length: ",len(list))

<class 'list'>
list length:  4

In [48]:
#indexing
list=["semon", "hany", "adly"]
print("first element: ", list[0])
print("second element first character: ", list[1][0])
print("last element by indexing with respect to length: ", list[len(list)-1])
print("last element with negative indexing: ", list[-1])

first element:  semon
second element first character:  h
last element by indexing with respect to length:  adly
last element with negative indexing:  adly

In [45]:
#slicing
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

print(mylist[0:3])
print(mylist[2:5])
print(mylist[:3])
print(mylist[len(mylist)-3:len(mylist)])
print(mylist[-3:])
print(mylist)

['one', 'two', 'three']
['three', 'four', 'five']
['one', 'two', 'three']
['six', 'seven', 'eight']
['six', 'seven', 'eight']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [46]:
#adding, modifying and removing items
mylist.append("nine")
print("after append 'nine': ", mylist)
mylist.insert(0,"zero")
print("after insert 'zero': ", mylist)
mylist.remove("zero")
print("after remove 'zero': ", mylist)
mylist.pop()
print("after pop(): ", mylist)
mylist.pop(6)
print("after pop the index 6: ", mylist)
del mylist[5]
print("after del the element of index 5: ", mylist)
mylist[2]=3
print("after change the string 'three': ", mylist)
mylist.clear()
print("empty the list: ", mylist)
del mylist
# print("delete the list with its memory address: ", mylist, "\n")

after append 'nine':  ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
after insert 'zero':  ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
after remove 'zero':  ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
after pop():  ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
after pop the index 6:  ['one', 'two', 'three', 'four', 'five', 'six', 'eight']
after del the element of index 5:  ['one', 'two', 'three', 'four', 'five', 'eight']
after change the string 'three':  ['one', 'two', 3, 'four', 'five', 'eight']
empty the list:  []

In [47]:
#copy list
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
mylist1=mylist
print("original list id: ", id(mylist))
print("reference-copied list id: ", id(mylist1))
mylist2=mylist.copy()
print("value-copied list id: ", id(mylist2), "\n")

mylist[3:7]=[4, 5, 6, 7]
print("after modifying the original list:")
print("original list: ", mylist)
print("reference copied list: ", mylist1)
print("value copied list: ", mylist2)

original list id:  2154884500864
reference-copied list id:  2154884500864
value-copied list id:  2154883795968

after modifying the original list:
original list:  ['one', 'two', 'three', 4, 5, 6, 7, 'eight', 'nine']
reference copied list:  ['one', 'two', 'three', 4, 5, 6, 7, 'eight', 'nine']
value copied list:  ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [54]:
#list concatenation
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

print("concatenated list with '+': ", list1+list2)
list1.extend(list2)
print("concatenated list by extending: ", list1)

concatenated list with '+':  ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
concatenated list by extending:  ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [59]:
#list membership
print("'one' exists in list1-> ", "one" in list1)
print("'ten' exists in list1-> ", "ten" in list1)

if 'eleven' in list1:
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

'one' exists in list1->  True
'ten' exists in list1->  False
eleven is not present in the list

In [70]:
#reverse and sort a list
list1.reverse()
print("reversed list", list1)

mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()
print("ascending sorted list: ", mylist3)
print("ascending sorted list: ", sorted(mylist3)) #the method sorted() return the sorted list without affecting the original list inplace
print("descending sorted list: ", sorted(mylist3, reverse=True))

#the method sort_values() with dataFrames takes the property ascending with boolean value
#,while the .sort() or sorted() with lists takes the property reverse
#the comment with triple double quotes works only in functions, classes or modules before other code, else it printed as a string (not ignored)

reversed list ['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']
ascending sorted list:  [2, 5, 9, 12, 34, 88, 99]
ascending sorted list:  [2, 5, 9, 12, 34, 88, 99]
descending sorted list:  [99, 88, 34, 12, 9, 5, 2]

'the method sort_values() with dataFrames takes the property ascending with boolean value\n ,while the .sort() or sorted() with lists takes the property reverse'

In [75]:
#loop through a list
for item in list1:
    print(item)
    
print("\n")

for tuple in enumerate(list1):
    print(tuple)

print("\n")

for index, element in enumerate(list1):
    print("index: ",index,",element: ",element)

eight
seven
six
five
four
three
two
one


(0, 'eight')
(1, 'seven')
(2, 'six')
(3, 'five')
(4, 'four')
(5, 'three')
(6, 'two')
(7, 'one')


index:  0 ,element:  eight
index:  1 ,element:  seven
index:  2 ,element:  six
index:  3 ,element:  five
index:  4 ,element:  four
index:  5 ,element:  three
index:  6 ,element:  two
index:  7 ,element:  one

In [76]:
#count elements appearance times
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
list10.count('one')

3

In [79]:
#Tuples
tup = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))
len(tup)

6

In [80]:
#tuple indexing
print("first element: ",tup[0])
print("last element: ",tup[-1])
print("first element of last nested tuple: ",tup[-1][0])

first element:  Asif
last element:  (99, 22, 33)
first element of last nested tuple:  99

In [88]:
#tuple slicing
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
print("the first three elements: ", mytuple[0:3])
print("the last three elements: ", mytuple[-3:])
print("the whole tuple: ", mytuple[:])

the first three elements:  ('one', 'two', 'three')
the last three elements:  ('six', 'seven', 'eight')
the whole tuple:  ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [87]:
#remove & change tuple items

# del mytuple[0] 
# mytuple[0] = 1
#tuple is immutable so deleting or changing an item throws an error
del mytuple
mytuple

NameError: name 'mytuple' is not defined

In [90]:
# loop through a tuple
for i in mytuple:
    print(i)

print("\n")

for i in enumerate(mytuple):
    print(i)

one
two
three
four
five
six
seven
eight


(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [91]:
#counting elements appearance
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')
print("count 'one': ",mytuple1.count('one'))
print("count 'two': ",mytuple1.count('two'))
print("count 'four': ",mytuple1.count('four'))

count 'one':  3
count 'two':  2
count 'four':  1

In [94]:
#tuple membership
print("'one' exists in mytuple1: ", 'one' in mytuple1)

if 'eleven' in mytuple:
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

'one' exists in mytuple1:  True
eleven is not present in the tuple

In [96]:
#index position
print("'one''s first index in mytuple: ", mytuple.index('one'))
print("'four''s first index in mytuple: ", mytuple.index('four'))

'one''s first index in mytuple:  0
'four''s first index in mytuple:  3

In [99]:
#sorting
mytuple2 = (43,67,99,12,6,90,67)
#mytuple2.sort() #throw error
print("ascending sorted tuple: ", sorted(mytuple2))
print("descending sorted tuple: ", sorted(mytuple2, reverse=1))

ascending sorted tuple:  [6, 12, 43, 67, 67, 90, 99]
descending sorted tuple:  [99, 90, 67, 67, 43, 12, 6]

In [4]:
#Dictionary
mydict = {1:'one' , 2:'two' , 3:'three'}
print("create dictionary with direct assignment to its structure {}: ", mydict)

mydict = dict({1:'one' , 2:'two' , 3:'three'})
print("Create dictionary using dict(): ",mydict)

print("dictionary keys: ", mydict.keys())
print("dictionary values: ", mydict.values())
print("dictionary items: ", mydict.items())

keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict2=dict.fromkeys(keys, value)
print("create dictionary from keys and unified value: ", mydict2)

create dictionary with direct assignment to its structure {}:  {1: 'one', 2: 'two', 3: 'three'}
Create dictionary using dict():  {1: 'one', 2: 'two', 3: 'three'}
dictionary keys:  dict_keys([1, 2, 3])
dictionary values:  dict_values(['one', 'two', 'three'])
dictionary items:  dict_items([(1, 'one'), (2, 'two'), (3, 'three')])
create dictionary from keys and unified value:  {'d': 10, 'b': 10, 'c': 10, 'a': 10}

{'d': 10, 'b': 10, 'c': 10, 'a': 10}

In [15]:
#accessing items
mydict3 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
print("name: ", mydict3["Name"]) #access with bracket notation
print("job: ", mydict3.get("job")) #access with .get() method

name:  Asif
job:  Analyst

In [16]:
#Add, Remove & Change Dictionary Items
mydict3["DOB"]=2000 #update by accessing with bracket notation
mydict3.update({"job":"engineer", "Name":"semon"}) #update using the method .update(new values in a dictionary)
print("mydict3 after updating: ", mydict3)

mydict3["address"]="Egypt, Qena, Dishna"
print("mydict3 after adding address: ", mydict3)

mydict3.pop("ID")
mydict3.popitem()
print("mydict3 after removing ID and the last property: ", mydict3)

del[mydict3["Name"]]
print("mydict3 after deleting Name: ", mydict3)

mydict3.clear()
print("empty mydict3: ", mydict3)

del mydict3
mydict3

mydict3 after updating:  {'Name': 'semon', 'ID': 74123, 'DOB': 2000, 'job': 'engineer'}
mydict3 after adding address:  {'Name': 'semon', 'ID': 74123, 'DOB': 2000, 'job': 'engineer', 'address': 'Egypt, Qena, Dishna'}
mydict3 after removing ID and the last property:  {'Name': 'semon', 'DOB': 2000, 'job': 'engineer'}
mydict3 after deleting Name:  {'DOB': 2000, 'job': 'engineer'}
empty mydict3:  {}

NameError: name 'mydict3' is not defined

In [19]:
#Copying Dictionaries
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1=mydict
mydict2 = mydict.copy()
id(mydict) , id(mydict1), id(mydict2)

(2640344835584, 2640344835584, 2640344837440)

In [20]:
mydict['Address'] = 'Mumbai'
mydict, mydict1, mydict2

({'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'},
 {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'},
 {'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'})

In [21]:
#Loop through a Dictionary
for i in mydict:
    print(i , ':' , mydict1[i])
#in with for loops through dictionary keys, but in lists loops through elements

Name : Asif
ID : 12345
DOB : 1991
Address : Mumbai

In [24]:
#Dictionary Membership
'Name' in mydict, 'Asif' in mydict # Membership test can be only done for keys.

(True, False)

In [ ]:
#the keyboard shortcut -> Shift+Enter used to run the selected index in jupyter